<div class="about-me">

    <dl class="about-me__description-list">
        <dt class="about-me__description-list__title">
            Name
        </dt>
        <dd class="about-me__description-list__description">
            Duboc
        </dd>

        <dt class="about-me__description-list__title">
            Firstname
        </dt>
        <dd class="about-me__description-list__description">
            Marc
        </dd>

        <dt class="about-me__description-list__title">
            Job
        </dt>
        <dd class="about-me__description-list__description">
            Web Developer
        </dd>

        <dt class="about-me__description-list__title">
            Status
        </dt>
        <dd class="about-me__description-list__description about-me__description-list__description--success">
            Employed
        </dd>

        <dt class="about-me__description-list__title">
            Company
        </dt>
        <dd class="about-me__description-list__description">
            <a class="blurred-link" href="//www.smartangels.fr/" target="_blank">
                Smartangels
            </a>
        </dd>

        <dt class="about-me__description-list__title">
            Freelance
        </dt>
        <dd class="about-me__description-list__description about-me__description-list__description--success">
            <a class="blurred-link">
                Available
            </a>
        </dd>
    </dl>

    <div class="about-me__avatar">
        <img ng-src="./assets/images/about-me_me.png" alt="" class="about-me__avatar__image"/>
    </div>

</div>
